<div id="footer">
	<div id="companyInfopc">
		<div class="container">
			<div class="row">
				<div class="companyInfo_left">
					<ul class="companyInfo_left_topul">
						<li>关于我们</li>
						<li>产品介绍</li>
						<li>购买渠道</li>
						<li>联系我们</li>
						<li>关注我们</li>
					</ul>
					<div class="companyInfo_left_botdiv">
						<ul>
							<li><a href="http://www.aihj.ren/index.php?m=content&c=index&a=lists&catid=13">公司介绍</a></li>
							<li><a href="http://www.aihj.ren/index.php?m=content&c=index&a=lists&catid=14">团队介绍</a></li>
							<li><a href="http://www.aihj.ren/index.php?m=content&c=index&a=lists&catid=15">企业文化</a></li>
							<li><a href="http://www.aihj.ren/index.php?m=content&c=index&a=lists&catid=12">加入我们</a></li>
						</ul>
						<ul>
							<li><a href="http://www.aihj.ren/index.php?m=content&c=index&a=lists&catid=11">如何使用</a></li>
							<li id="oVedio"><a href="javascript:;">视频介绍</a></li>
						</ul>
						<ul>
							<li><a href="###">天猫商城</a></li>
							<li><a href="###">京东商城</a></li>
						</ul>
						<ul>
							<li><a href="tel:010-53182039">电话:010-53182039</a></li>
							<li><a href="email:a@aihj.ren">邮箱:bd@aihj.ren</a></li>
							<li>地址:中国.北京.中关村</li>
						</ul>
						<ul>
							<li class="left">
								<div><img src="{IMG_PATH}aihj/img2_dingyuehao.png"/></div>
								<p>爱惠家官方订阅号</p>
							</li>
							<li class="right">
								<div><img src="{IMG_PATH}aihj/laifuerweima.png"/></div>
								<p>爱惠家官方客服</p>
							</li>
							
						</ul>
					</div>
					<span class="underLine"></span>
				</div>
			</div>
		</div>
	</div>
	<div id="companyInfophone">
		<div class="service_details">
			<p>关于我们<i class="small_sel"><img src="{IMG_PATH}aihj/up.png"/></i></p>
			<ul>
				<li><a href="###">公司介绍</a></li>
				<li><a href="###">团队介绍</a></li>
				<li><a href="###">企业文化</a></li>
				<li><a href="###">加入我们</a></li>
			</ul>
		</div>
		<div class="service_details">
			<p>产品介绍<i class="small_sel"><img src="{IMG_PATH}aihj/up.png"/></i></p>
			<ul>
				<li><a href="###">如何使用</a></li>
				<li id="oVedio"><a href="javascript:;">视频介绍</a></li>
				<!--<li><a href="###">更新历史</a></li>
				<li><a href="###">FAQ</a></li>-->
			</ul>
		</div>
		<div class="service_details">
			<p>购买渠道<i class="small_sel"><img src="{IMG_PATH}aihj/up.png"/></i></p>
			<ul>
				<li><a href="###">天猫商城</a></li>
				<li><a href="###">京东商城</a></li>
			</ul>
		</div>
		<div class="service_details">
			<p>联系我们<i class="small_sel"><img src="{IMG_PATH}aihj/up.png"/></i></p>
			<ul>
				<li><a href="###">电话:010-82699820</a></li>
				<li><a href="###">邮箱:a@aihj.ren</a></li>
				<li><a href="###">地址:中国.北京.中关村</a></li>
			</ul>
		</div>
		<!--<div class="service_details">
			<p>服务支持<i class="small_sel"><img src="{IMG_PATH}aihj/up.png"/></i></p>
			<ul>
				<li><a href="###">售后服务</a></li>
				<li><a href="###">相关下载</a></li>
			</ul>
		</div>-->
		<div class="service_details">
			<p>关注我们<i class="small_sel"><img src="{IMG_PATH}aihj/up.png"/></i></p>
			<ul class="contant_ul">
				<li class="left ">
					<dl>
						<dt><img src="{IMG_PATH}aihj/img1_fuwuhao.png" alt="" /></dt>
						<dd>爱惠家官方服务号</dd>
					</dl>
				</li>
				<li class="left">
					<dl>
						<dt><img src="{IMG_PATH}aihj/img2_dingyuehao.png"/></dt>
						<dd>爱惠家官方订阅号</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="text_center">Copyright &copy; 2016 北京爱惠家网络有限公司 &nbsp;京ICP备16017061号</div>
		</div>
	</div>
</div>
<div id="toTop">
	<img src="{IMG_PATH}aihj/back.png"/>
</div>
<!--<p class="info">
{pc:content action="category" catid="1" num="15" siteid="$siteid" order="listorder ASC"}
{loop $data $r}
<a href="{$r[url]}" target="_blank">{$r[catname]}</a> |  
{/loop}
{/pc}
<a href="{APP_PATH}index.php?m=link" target="_blank">友情链接</a>
<br />
Powered by <strong><a href="http://www.phpcms.cn" target="_blank">PHPCMS</a></strong> <em>{get_pc_version(1)}</em> &copy; 2015 <img src="{IMG_PATH}copyright.gif"/>{tjcode()}{php echo runhook('glogal_footer')}
</p>
</div>
<script type="text/javascript">
$(function(){
	$(".picbig").each(function(i){
		var cur = $(this).find('.img-wrap').eq(0);
		var w = cur.width();
		var h = cur.height();
	   $(this).find('.img-wrap img').LoadImage(true, w, h,'{IMG_PATH}msg_img/loading.gif');
	});
})
</script>-->


<script type="text/javascript" src="{JS_PATH}aihj/footer.js?a=1"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260804074'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260804074%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></body>
</html>